**

!.git*
!README*

!/defaults/
!/defaults/main.yaml

!/handlers/
!/handlers/main.yaml

!/meta/
!/meta/main.yaml

!/tasks/
!/tasks/main.yaml

!/tasks/bootctl_install.yaml
!/tasks/bootctl_update.yaml
!/tasks/package_facts.yaml
